<style>
.cb-activity-label {
    width:150px;
    height:30px;
    text-align: center;
    font-weight: bold;
    /*box-shadow: 0px 0px 10px 3px #888;*/
    border-style:solid;
    border-width:1px;
    border-color:#aaa;
}
</style>
<form id="#symptom-activity-form">
    <fieldset data-role="controlgroup" data-type="horizontal">
        <table style="width:300px;" cellspacing="10">
            <tr>
                <td style="width:150px;text-align:center;vertical-align:middle;">
                    <input class="cb-activity" type="radio" name="cb-activity"
                           id="cb-act-resting">
                    <label class="cb-activity-label" for="cb-act-resting">Resting</label>
                </td>
                <td style="width:150px;text-align:center;vertical-align:middle;font-size:20pt;">
                    <input class="cb-activity" type="radio" name="cb-activity"
                           id="cb-act-walking">
                    <label class="cb-activity-label" for="cb-act-walking">Walking</label>
                </td>
            </tr>
            <tr>
                <td style="width:150px;text-align:center;vertical-align:middle;font-size:20pt;">
                    <!-- <fieldset data-role="controlgroup"> -->
                    <input class="cb-activity" type="radio" name="cb-activity"
                           id="cb-act-exercising">
                    <label class="cb-activity-label" for="cb-act-exercising">Exercising</label>
                </td>
                <td style="width:150px;text-align:center;vertical-align:middle;font-size:20pt;">
                    <input class="cb-activity" type="radio" name="cb-activity"
                           id="cb-act-other">
                    <label class="cb-activity-label" for="cb-act-other">Other</label>
                    <!-- </fieldset> -->
                </td>
            </tr>
        </table>
    </fieldset>
</form>