<form id="symptom-collection-form" style="background-color:transparent;">

    <style>
        .cb-symptom-col1 {
            width:200px;
            height:30px;
            font-weight: bold;
        }
        .cb-symptom-col2 {
            width:185px;
            height:30px;
            font-weight: bold;
        }
        .cb-symptom-col3 {
            width:175px;
            height:30px;
            font-weight: bold;
        }
    </style>

    <fieldset data-role="controlgroup" data-type="horizontal" style="background-color:transparent;">
        
        <table id="symptoms-table" cellspacing="5" style="background-color:transparent;">
        <tr>
            <td>
                <input class="cb-symptom" type="checkbox" name="cb-chest-discomfort" id="cb-chest-discomfort">
                <label class="cb-symptom-col1" for="cb-chest-discomfort">Chest Discomfort</label>
            </td>
            <td>
                <input class="cb-symptom" type="checkbox" name="cb-racing-heart" id="cb-racing-heart">
                <label class="cb-symptom-col2" for="cb-racing-heart">Racing Heart</label>
            </td>
            <td>
                <input class="cb-symptom" type="checkbox" name="cb-fatigue" id="cb-fatigue">
                <label class="cb-symptom-col3" for="cb-fatigue">Fatigue</label>
            </td>
        </tr>
        <tr> 
            <td>
                <input class="cb-symptom" type="checkbox" name="cb-fluttering" id="cb-fluttering">
                <label class="cb-symptom-col1" for="cb-fluttering">Fluttering</label>
            </td>
            <td>
                <input class="cb-symptom" type="checkbox" name="cb-slurred-speech" id="cb-slurred-speech" onclick="onSlurredSpeech()">
                <label class="cb-symptom-col2" for="cb-slurred-speech">Slurred Speech</label>
            </td>
            <td>
                <input class="cb-symptom" type="checkbox" name="cb-palpitation" id="cb-palpitation">
                <label class="cb-symptom-col3" for="cb-palpitation">Palpitation</label>
            </td>  
        </tr>
        <tr>
            <td>
                <input class="cb-symptom" type="checkbox" data-val="Shortness of breath" name="cb-shortness-of-breath" id="cb-shortness-of-breath">
                <label class="cb-symptom-col1" for="cb-shortness-of-breath">Shortness Of Breath</label>
            </td>
            <td>
                <input class="cb-symptom" type="checkbox" name="cb-other" id="cb-other">
                <label class="cb-symptom-col2" for="cb-other">Other</label>
            </td>
            <td valign="top">
                <input class="cb-symptom" type="checkbox" name="cb-headache" id="cb-headache">
                <label class="cb-symptom-col3" for="cb-headache">Headache</label>
            </td>
        </tr>
        <tr>
            <td>
                <input class="cb-symptom" type="checkbox" name="cb-recently-fainted" id="cb-recently-fainted" onclick="onRecentlyFainted()">
                <label class="cb-symptom-col1" for="cb-recently-fainted">Recently Fainted</label>
            </td>
            <td>
                <input class="cb-symptom" type="checkbox" name="cb-dizziness" id="cb-dizziness">
                <label class="cb-symptom-col2" for="cb-dizziness">Dizziness</label>
            </td>
            <td>
            </td>
        </tr>
        </table>
    </fieldset>
</form>
<br /><br />