
.data-role-header
{
    z-index:20;
    text-align:center;
    vertical-align:middle;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.data-role-footer
{
    z-index:20;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}



.ui-dialog-contain {
    background:white;
    border-style:solid;
    border-width:1px;
    border-color:#f88;
    box-shadow: 0px 0px 30px 4px #666;
}

 .ui-page .ui-footer {
    /*box-shadow: 0px 0px 10px 3px #a5a5a5;*/
    
    height: 30px;
    /*background-color:black;*/
    background: linear-gradient(#544, #000) no-repeat border-box;
    color:#999;
    border: 0px transparent;
    opacity: 0.9;

}

.ui-page .ui-header {
    /*width:101%;*/
    color:#999;
    background: linear-gradient(#000, #322) no-repeat border-box;
}

.ui-page {
    -webkit-backface-visibility: hidden;
    /*background: linear-gradient(#9d0306, #9d0306) no-repeat border-box, linear-gradient(#9d0306, #000) no-repeat border-box, linear-gradient(#000, #000) no-repeat border-box;*/
    background: linear-gradient(#866, #866) no-repeat border-box, linear-gradient(#866, #422) no-repeat border-box, linear-gradient(#422, #422) no-repeat border-box;
    /*background: linear-gradient(#fff, #fff) no-repeat border-box, linear-gradient(#fff, #999) no-repeat border-box, linear-gradient(#999, #999) no-repeat border-box;*/
    background-position: 0px 0px, 0px 50px, 0px 270px;
    background-size: 1500px 50px, 1500px 270px, 1500px, 500px;
    background-attachment: fixed, fixed, fixed;
    background-color:white;
    color:#ccc;
}

#admin-ecg-signal-page.ui-page {
    -webkit-backface-visibility: hidden;
    /*background: linear-gradient(#000, #9d0306) no-repeat border-box, linear-gradient(#9d0306, #000) no-repeat border-box, linear-gradient(#000, #000) no-repeat border-box;*/
    background: linear-gradient(#000, #877) no-repeat border-box, linear-gradient(#877, #433) no-repeat border-box, linear-gradient(#433, #433) no-repeat border-box;
    background-position: 0px 0px, 0px 100px, 0px 270px;
    background-size: 1500px 100px, 1500px 270px, 1500px, 500px;
    background-attachment: fixed, fixed, fixed;
    color:#ccc;
}

#session-home-main-box {
    width:570px;
    height: 240px;
    color:#888;
    background:none;/*linear-gradient(#000, #544);*/
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    box-shadow: none; /*0px 5px 15px 3px #110;*/
    border: solid 0px transparent;
    border-radius: 10px;
}

.home-status-icon {
    height: 50px;
    width:50px;
    border-style:none;
}

.home-status-icon-td {
    width:50px;
    text-align:center;
    font-size:90%;
    color:#ccc;
}

#session-home-panel, #session-termination-panel, #device-no-longer-active-panel {
    box-shadow: 0px 0px 50px 5px #000;
    display:table-cell;
    vertical-align:top;
    background:linear-gradient(to right, #000, #644);
    /*
    background-image:url('images/green_circuit_inverted.jpg');
    */
}


#ecg-view-heart {
    position:absolute;
    top: 6px;
    left: 390px;
    width: 40px;
    height: 40px;
}


/*#facility-id-input, #enrollment-date*/
input[type=text], input[type=date], input[type=tel], input[type=password] {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style:solid;
    border-bottom-width:1px;
    padding:5px;
    border-color:#888888;
    width: 250px;
}

/*#facility-id-input:focus, #enrollment-date:focus {*/
input[type=text]:focus, input[type=date]:focus, input[type=tel]:focus, , input[type=password]:focus {
    border-color: red;
}


#all-popup {
    padding:10px;
    background-color:#e5e5e5;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #a5a5a5;
    position:absolute;
    width:250px;
    top:-20px;
}


.shadow {
box-shadow: 0px 0px 5px 1px #a5a5a5;
}

.shadow-high {
box-shadow: 0px 0px 10px 2px #a5a5a5;
}

.shadow-inset {
box-shadow: 0px 0px 5px 2px #a5a5a5 inset;
}

.light-border {
border-style:solid;
border-width:1px;
border-color:#aaa;
}

.centered {
text-align:center;
vertical-align:middle;
}

.di-value-div {
width:200px;
height:50px;
display:table-cell;
vertical-align:middle;
text-align:center;
}

#dev-info-table > td {
padding-top:2px;
}



/*SWIPER CSS*/
.swiper-container{width:300px;height:50px;/*margin:20px auto;*/}
.swiper-slide {
    text-align:center;
    font-size:18px;
    background:#fff;
    display:-webkit-box;
    display:-ms-flexbox;display:-webkit-flex;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
}

.swiper-slide-oops {
    width: 99%;
    height:99%;
    text-align:left;
    vertical-align:bottom;
    font-size:24px;
    background:transparent;
    color:white;
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-pack:left;
    -ms-flex-pack:left;
    -webkit-justify-content:left;
    justify-content:left;
    -webkit-box-align:left;
    -ms-flex-align:left;
    -webkit-align-items:left;
    align-items:left;
}

.oops-span{
width:80%;
text-align:left;
}


/* ECG VIEW */
.main-ecg-canvas {
z-index: 2;
background-color:white;
border-radius:5px;
border-style:solid;
border-width:1px;
border-color:white;
}

.invalid-ecg-canvas {

border-style:solid;
border-width:0px;
border-color:red;

position:relative;
top:-305px;
left:0px;

z-index: 1;
}


.ui-btn .ui-btn-raised {
    /*opacity: 0.9;*/
    /*box-shadow: 0px 0px 10px 3px #211;*/
    /*color:green;*/
    
}

/*checkbox off*/
.ui-controlgroup-horizontal .ui-btn.ui-first-child,
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn
 {
	background: linear-gradient(#a88, #766);
	box-shadow: 0px 0px 5px 2px #000;
	border-radius: 5px;
	border-style:solid;
	border-width:1px;
	border-color:#988;
    font-weight:bold;
    font-size: 13pt;
	color:#000;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    vertical-align:middle;
    text-align:center;
}


/*checkbox on*/
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-checkbox-on,
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-radio-on {
	/*background-color: #fff;*/ /*CHANGED HERE*/
	background: linear-gradient(#fee, #edd);
	box-shadow: 0px 0px 10px 2px #000 inset;
	color: #000;
	border-style:solid;
	border-width:0px;
	border-radius:5px;
}


/*--------------------------------*/

#enrollment-confirmation-container, #customer-service-ids, #symptoms-confirmation-container, .info-container {
    width:350px;
    text-align:left;
    border-style:solid;
    border-width:0px;
    border-radius:5px;
    padding:20px;
    
    border-radius:10px;

    background:linear-gradient(#744, #533);
    color:#cbb;
    box-shadow: 0px 0px 20px 3px #100 inset;
}

#customer-service-ids {
    width:250px;
    text-align:left;
}

/*#enter-activation-code-1-dialog, #begin-session-activation-enter-facility-code {
    -webkit-backface-visibility: hidden;
    
    background: linear-gradient(#000, #9d0306) no-repeat border-box, linear-gradient(#9d0306, #000) no-repeat border-box, linear-gradient(#000, #000) no-repeat border-box;
    background-position: 0px 0px, 0px 70px, 0px 250px;
    background-size: 1500px 70px, 1500px 250px, 1500px, 500px;
    background-attachment: fixed, fixed, fixed;
    
    opacity: 1.0;
 
}*/


.ui-input-text {
    background-color: transparent;
}
			
.ui-input-text input {
    width:300px;
    box-shadow:0px 0px 25px 5px #100000 inset;
    border:0px solid;
    border-radius:15px;
    background:linear-gradient(#755, #644);
    color:#ddd;
    padding:15px;
    text-shadow:none;
    font-size: 15pt;
}

.ui-input-text input:focus {
    
    box-shadow:0px 0px 5px 3px #100000 inset;
    
}

::-webkit-input-placeholder {
    text-align: center;
    color:#bbb;
    font-size: 13pt;
}


#connect-to-ecg-image {
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow:0px 0px 25px 5px #300 inset;
}

#refresh-ecg-list-btn {
    vertical-align: middle;
    padding:10px;
    height:30px;
    width:30px; 
}















