/*
 * Color Definition Sheet
 */

.nd2-bg-500 { background-color: #F44336; color: #ffffff; }

/*
 * Custom Styles
 *
 */

.ui-page-theme-a .ui-header {
	/*background-color: #F44336;*/
	/*background-color: #9d0306;*/
	background: linear-gradient(black, #9d0306);
	color: #ccc;
	/*box-shadow:5px 0px 15px 5px #888;*/
}

.ui-page-theme-a .ui-footer {
	/*background-color: #ffffff;*/
	/*color: #323232;*/

	box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
}

li.ui-tabs-active > .ui-link.ui-btn.ui-tabs-anchor,
.ui-page-theme-a .ui-btn.clr-primary {
	color: #F44336;
}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a,
.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover,
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited  {
	color: #F44336;
}

.ui-page-theme-a .ui-btn.clr-warning {
	color: rgb(244,67,54);
}

.ui-page-theme-a .ui-btn.ui-btn-raised.clr-primary {
	background-color: #F44336;
	color: rgba(255,255,255,0.85);
}

.ui-page-theme-a .ui-btn.ui-btn-raised.clr-warning {
	background-color: rgb(244,67,54);
	color: rgba(255,255,255,0.85);
}

.ui-page-theme-a .ui-radio .ui-btn.ui-radio-on:before {
	background-color: #F44336;
}

.ui-page-theme-a .ui-btn.ui-radio-on:after {
	border-color: #F44336;
}

html .ui-page-theme-a .ui-btn.ui-checkbox-on.ui-checkbox-on:after {
	background-color: #9d0306;
	border-color: #9d0306;
	box-shadow: 0px 0px 10px 3px #888;
}


/*CHANGED HERE*/
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-checkbox-on,
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-radio-on {
	/*background-color: #fff;*/ /*CHANGED HERE*/
	background: linear-gradient(#b55, #a44);
	box-shadow: 0px 0px 20px 2px #300 inset;
	color: white;
	border-style:solid;
	border-width:0px;
	border-radius:5px;
}

/*.ui-input-text.ui-focus:after,
.ui-input-search.ui-focus:after {
	background-color: #F44336;
	height: 2px;
}

textarea.ui-input-text.ui-textinput-autogrow.ui-focus {
	border-bottom: 2px solid #F44336;
}*/

.ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active {
  color: #ffffff !important;
  background-color: #F44336 !important;
}

.ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active,
.ui-slider-track .ui-btn.ui-slider-handle {
	background-color: #F44336 !important;
}

/* Chart-Color-Palette: red */
/* --- */

.nd2-chart .ct-series-a .ct-bar, .nd2-chart .ct-series-a .ct-line, .nd2-chart .ct-series-a .ct-point, .nd2-chart .ct-series-a .ct-slice-donut {	stroke: #F44336; } .nd2-chart .ct-series-a .ct-area, .nd2-chart .ct-series-a .ct-slice-pie { fill: #F44336; }  .nd2-chart .ct-series-b .ct-bar, .nd2-chart .ct-series-b .ct-line, .nd2-chart .ct-series-b .ct-point, .nd2-chart .ct-series-b .ct-slice-donut {	stroke: #E91E63; } .nd2-chart .ct-series-b .ct-area, .nd2-chart .ct-series-b .ct-slice-pie { fill: #E91E63; }  .nd2-chart .ct-series-c .ct-bar, .nd2-chart .ct-series-c .ct-line, .nd2-chart .ct-series-c .ct-point, .nd2-chart .ct-series-c .ct-slice-donut {	stroke: #9C27B0; } .nd2-chart .ct-series-c .ct-area, .nd2-chart .ct-series-c .ct-slice-pie { fill: #9C27B0; }  .nd2-chart .ct-series-d .ct-bar, .nd2-chart .ct-series-d .ct-line, .nd2-chart .ct-series-d .ct-point, .nd2-chart .ct-series-d .ct-slice-donut {	stroke: #673AB7; } .nd2-chart .ct-series-d .ct-area, .nd2-chart .ct-series-d .ct-slice-pie { fill: #673AB7; }  .nd2-chart .ct-series-e .ct-bar, .nd2-chart .ct-series-e .ct-line, .nd2-chart .ct-series-e .ct-point, .nd2-chart .ct-series-e .ct-slice-donut {	stroke: #3F51B5; } .nd2-chart .ct-series-e .ct-area, .nd2-chart .ct-series-e .ct-slice-pie { fill: #3F51B5; }  .nd2-chart .ct-series-f .ct-bar, .nd2-chart .ct-series-f .ct-line, .nd2-chart .ct-series-f .ct-point, .nd2-chart .ct-series-f .ct-slice-donut {	stroke: #2196F3; } .nd2-chart .ct-series-f .ct-area, .nd2-chart .ct-series-f .ct-slice-pie { fill: #2196F3; }  .nd2-chart .ct-series-g .ct-bar, .nd2-chart .ct-series-g .ct-line, .nd2-chart .ct-series-g .ct-point, .nd2-chart .ct-series-g .ct-slice-donut {	stroke: #03A9F4; } .nd2-chart .ct-series-g .ct-area, .nd2-chart .ct-series-g .ct-slice-pie { fill: #03A9F4; }  .nd2-chart .ct-series-h .ct-bar, .nd2-chart .ct-series-h .ct-line, .nd2-chart .ct-series-h .ct-point, .nd2-chart .ct-series-h .ct-slice-donut {	stroke: #00BCD4; } .nd2-chart .ct-series-h .ct-area, .nd2-chart .ct-series-h .ct-slice-pie { fill: #00BCD4; }  .nd2-chart .ct-series-i .ct-bar, .nd2-chart .ct-series-i .ct-line, .nd2-chart .ct-series-i .ct-point, .nd2-chart .ct-series-i .ct-slice-donut {	stroke: #009688; } .nd2-chart .ct-series-i .ct-area, .nd2-chart .ct-series-i .ct-slice-pie { fill: #009688; }  .nd2-chart .ct-series-j .ct-bar, .nd2-chart .ct-series-j .ct-line, .nd2-chart .ct-series-j .ct-point, .nd2-chart .ct-series-j .ct-slice-donut {	stroke: #4CAF50; } .nd2-chart .ct-series-j .ct-area, .nd2-chart .ct-series-j .ct-slice-pie { fill: #4CAF50; }  .nd2-chart .ct-series-k .ct-bar, .nd2-chart .ct-series-k .ct-line, .nd2-chart .ct-series-k .ct-point, .nd2-chart .ct-series-k .ct-slice-donut {	stroke: #8BC34A; } .nd2-chart .ct-series-k .ct-area, .nd2-chart .ct-series-k .ct-slice-pie { fill: #8BC34A; }  .nd2-chart .ct-series-l .ct-bar, .nd2-chart .ct-series-l .ct-line, .nd2-chart .ct-series-l .ct-point, .nd2-chart .ct-series-l .ct-slice-donut {	stroke: #CDDC39; } .nd2-chart .ct-series-l .ct-area, .nd2-chart .ct-series-l .ct-slice-pie { fill: #CDDC39; }  .nd2-chart .ct-series-m .ct-bar, .nd2-chart .ct-series-m .ct-line, .nd2-chart .ct-series-m .ct-point, .nd2-chart .ct-series-m .ct-slice-donut {	stroke: #FFEB3B; } .nd2-chart .ct-series-m .ct-area, .nd2-chart .ct-series-m .ct-slice-pie { fill: #FFEB3B; }  .nd2-chart .ct-series-n .ct-bar, .nd2-chart .ct-series-n .ct-line, .nd2-chart .ct-series-n .ct-point, .nd2-chart .ct-series-n .ct-slice-donut {	stroke: #FFC107; } .nd2-chart .ct-series-n .ct-area, .nd2-chart .ct-series-n .ct-slice-pie { fill: #FFC107; }  .nd2-chart .ct-series-o .ct-bar, .nd2-chart .ct-series-o .ct-line, .nd2-chart .ct-series-o .ct-point, .nd2-chart .ct-series-o .ct-slice-donut {	stroke: #FF9800; } .nd2-chart .ct-series-o .ct-area, .nd2-chart .ct-series-o .ct-slice-pie { fill: #FF9800; }  .nd2-chart .ct-series-p .ct-bar, .nd2-chart .ct-series-p .ct-line, .nd2-chart .ct-series-p .ct-point, .nd2-chart .ct-series-p .ct-slice-donut {	stroke: #FF5722; } .nd2-chart .ct-series-p .ct-area, .nd2-chart .ct-series-p .ct-slice-pie { fill: #FF5722; }  .nd2-chart .ct-series-q .ct-bar, .nd2-chart .ct-series-q .ct-line, .nd2-chart .ct-series-q .ct-point, .nd2-chart .ct-series-q .ct-slice-donut {	stroke: #795548; } .nd2-chart .ct-series-q .ct-area, .nd2-chart .ct-series-q .ct-slice-pie { fill: #795548; }  .nd2-chart .ct-series-r .ct-bar, .nd2-chart .ct-series-r .ct-line, .nd2-chart .ct-series-r .ct-point, .nd2-chart .ct-series-r .ct-slice-donut {	stroke: #9E9E9E; } .nd2-chart .ct-series-r .ct-area, .nd2-chart .ct-series-r .ct-slice-pie { fill: #9E9E9E; }
