.swipe-to-continue {
	-webkit-appearance: none;
	pointer-events:none;
	
	background-color:transparent;
	
	/*background: url('images/moving-right-arrow/right-arrow-glow.png') center center no-repeat;
	background-size: 60px 60px;
	
	animation-name: glowright;
    animation-duration: 2s;
	animation-iteration-count: 1;
	animation-play-state: running;
	
	z-index: 3;*/
}

/*@keyframes glowright {
    0% {background-position: 0px 0px;}
    50% {background-position: 150px 0px;}
	100% {background-position: 300px 0px;}
}*/


.swipe-to-continue::-webkit-slider-thumb {
	box-shadow: 0px 0px 20px 3px #211;
	border: 0px solid #888;
	width: 75px;
	height: 45px;
	border-radius: 10px;
	background-size: 75px 50px;
	/*background-image: url('images/right_arrow.png') center center no-repeat;*/
	background: url('images/arrow.png') center center no-repeat; /*, linear-gradient(#400, #611);*/
	/*background: linear-gradient(#400, #611);*/
	-webkit-appearance: none;
	margin-top: 8px;
	margin-left: 8px;
	pointer-events: auto;
	z-index: 4;
}


.swipe-to-continue::-webkit-slider-runnable-track {
	height: 60px;
	box-shadow: inset 0px 0px 15px 3px #000;
	z-index: 2;
	border-style:solid;
	border-width:0px;
	border-color:black;
	border-radius: 15px;
	
	background: linear-gradient(#422, #755) no-repeat border-box, linear-gradient(#755, #422) no-repeat border-box;
    background-size: 500px 30px, 500px 30px;
    background-position: 0px 0px, 0px 30px;
    background-origin: padding-box, padding-box;
	
}

.swipe-to-continue::-webkit-slider-thumb:after {
	content: '';
	position:relative;
	left:135px;
	top:10px;
	font-size:14pt;
	font-weight:bold;
	color:#bbb;
	/*text-shadow: 0px 0px 20px #922;*/
	pointer-events:none;
}















